.effectCreator {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.actions {
		display: flex;
		gap: 5px;
		width: 20%;
	}
}

.overwrite {
	div {
		// background-color: red;
	}
	.content {
		background-color: red !important;
	}
	span {
		// background-color: red;
	}
}
