@import '@/styles/variables.scss';

.column {
	display: flex;
	align-items: center;
	gap: $spacing-1;
}

.sliderWrapper {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px;
	width: 64 * 4 * 2px;
}
