.control {
	display: flex;
	background: transparent;
	color: #fff;
	// border: 0;

	.value {
		width: 30px;
		text-align: right;
	}

	.increment {
		display: flex;
		flex-direction: column;

		.reverse {
			rotate: 180deg;
		}
	}

	&::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		// -webkit-appearance: inner-spin-button !important;
		opacity: 1;
		height: 16px;
		width: 16px;
		color: red;
		background-color: red;
	}
}

// input[type='number']::-webkit-inner-spin-button,
// input[type='number']::-webkit-outer-spin-button {
// 	// -webkit-appearance: inner-spin-button !important;
// 	opacity: 1;
// 	height: 10px;
// 	width: 10px;
// }
