.container {
	background-color: rgba(79, 75, 75, 0.4);
	border-radius: 8px;
	padding: 8px 10px;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.label {
			font-size: 14px;
		}

		.icon {
			transition: 1s ease;

			&.rotated {
				transform: rotateX(180deg);
			}
		}
	}

	.content-wrapper {
		display: grid;
		overflow: hidden;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.5s;
		padding-top: 10px;
		border-top: 1px solid #a5a4a4;
		margin-top: 4px;

		.content {
			min-height: 0;
			transition: visibility 1s;
			visibility: hidden;
		}

		&.expanded {
			grid-template-rows: 1fr;

			.content {
				visibility: visible;
			}
		}
	}
}
