.container {
	background-color: rgba(79, 75, 75, 0.4);
	border-radius: 8px;
	padding: 2%;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.label {
		font-size: 12px;
	}
}
