@import '@/styles/variables.scss';

.frameCell {
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	border: 1px solid $border-color;
	padding: 0;

	&:hover {
		border: 1px solid $border-hover-color;
	}
}
