.resizeHandle {
	display: flex;
	align-items: center;
	margin: 10px 5px;
	border-radius: 10px;

	background-color: transparent;
	transition: background-color 0.3s linear;

	&[data-resize-handle-active] {
		background-color: rgba(128, 128, 128, 0.7);
		transition: background-color 0.3 linear;
	}
}
