.item {
	display: flex;
	flex-direction: column;
	padding: 4px;
	margin: 8px;

	border: 3px solid red;
	border-radius: 12px;
	// background-color: $item-color;

	&:hover {
		border: 3px solid red;
	}

	.row {
		display: flex;
		align-items: center;
	}
}
