@import '@/styles/variables.scss';

.item {
	display: flex;
	gap: $spacing-4;
	padding: $spacing-2;

	border: 3px solid $border-color;
	border-radius: $border-radius-m;
	background-color: $item-color;

	&:hover {
		border: 3px solid $border-hover-color;
	}

	.rightColumn {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		.duration {
			display: flex;
			align-items: center;
			gap: $spacing-2;

			> * {
				flex-basis: 50%;
			}
		}
	}
}
