@import '@/styles/variables.scss';

.item {
	display: flex;
	flex-direction: column;
	padding: $spacing-1;
	margin: $spacing-2;

	border: 3px solid $border-color;
	border-radius: $border-radius-m;
	// background-color: $item-color;

	&:hover {
		border: 3px solid $border-hover-color;
	}

	.row {
		display: flex;
		align-items: center;
	}
}
