@import '@/styles/mixins.scss';

.uiTable {
	position: relative;
	text-align: left;
	border-collapse: collapse;
	width: 100%;

	th {
		background-color: rgb(91, 91, 91);
		top: 0;
		z-index: 10;
		position: sticky;
		font-weight: 600;
		font-size: 14px;

		&.sortable {
			cursor: pointer;

			&:hover {
				background-color: rgba(180, 180, 180, 0.4);
			}
		}
	}

	tbody {
		font-size: 12px;

		tr {
			border-bottom: 1px solid white;

			&:last-of-type {
				border: 0;
			}

			&:hover {
				background-color: rgba(180, 180, 180, 0.4);
			}
		}
	}

	td,
	th {
		padding: 5px;
		text-wrap: nowrap;

		&.dense {
			padding: 0px;
		}
	}
}
