@import '../../../styles/mixins.scss';

.uiTable {
	// position: relative;
	text-align: left;
	border-collapse: collapse;
	width: 100%;

	thead {
		text-wrap: nowrap;
	}

	th {
		padding: 5px;
		// top: 0;
		// z-index: 10;
		// position: sticky;

		font-weight: 600;
		font-size: 14px;
	}

	tbody {
		font-size: 12px;

		tr {
			border-bottom: 1px solid white;

			&:last-of-type {
				border: 0;
			}

			&:hover {
				background-color: rgba(189, 181, 181, 0.404);
			}
		}

		td {
			padding: 5px 5px;
			text-wrap: nowrap;
		}
	}
}
