@import '@/styles/variables.scss';

html,
body {
	margin: 0;
	height: 100vh;
	color: rgba(255, 255, 255, 0.7);
	overflow: hidden;
}

main {
	background-color: hsl(240, 10%, 4%);
	height: 90vh;
	max-height: 90vh;

	> div {
		height: 100%;
	}
}

header {
	background-color: hsl(0, 0%, 0%);
	height: 10vh;

	display: flex;
	justify-content: center;

	.links {
		display: flex;
		gap: $spacing-3;
	}
}

.MuiTabPanel-root {
	height: 82vh;
}
