@import '@/styles/variables.scss';

html,
body {
	margin: 0;
	height: 100vh;
	color: #fff;
}

main {
	background-color: hsl(240, 10%, 4%);
	height: 90%;
	max-height: 90%;

	> div {
		height: 100%;
	}
}

header {
	background-color: hsl(0, 0%, 0%);
	height: 10%;

	display: flex;
	justify-content: center;

	.links {
		display: flex;
		gap: $spacing-3;
	}
}

.MuiTabPanel-root {
	height: 100%;
}
