@import '@/styles/variables.scss';
@tailwind utilities;

html,
body {
	margin: 0;
	height: 100vh;
}

body {
	background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000%;
	animation: gradient 30s linear infinite;

	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

header {
	display: flex;
	justify-content: center;
	background-color: gray;

	.logo {
		height: 100px;
	}
}

header {
	height: 10%;
}

main {
	background-color: rgba(80, 80, 80, 0.4);
	height: 90%;
}

@keyframes gradient {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}
