body {
	display: flex;
	flex-direction: column;
	gap: 48px;
	margin: 20px auto;
	padding-inline: 10%;
	max-width: 640px;
	// Background
	background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000%;
	animation: gradient 30s linear infinite;
	// Font
	color: #fff;
	font-size: 16px;
	font-weight: 400;

	// Variables
	--border-radius: 5px;
}

@keyframes gradient {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}
