.uiIcon {
	transition: ease-in-out 0.5s;

	&.rotated {
		transition: ease-in-out 0.5s;
		rotate: 90deg;
	}

	&.flipped {
		transition: ease-in-out 0.5s;
		transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
		-o-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
	}
}
