@import '@/styles/variables.scss';

.item {
	display: flex;

	background-color: $item-color;
	border: 3px solid $border-color;
	border-radius: $border-radius-m;

	&:hover {
		border-color: $border-hover-color;
	}
}
