.attributes {
	display: flex;
	flex-direction: column;
	gap: 12px;

	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12px;

		.text {
			min-width: 70px;
			font-size: 14px;
		}
	}
}
