@import '../../../style/mixins.scss';

.tableActions {
	display: flex;
	justify-content: space-between;

	> div {
		display: flex;
		gap: 5px;
	}
}

.effectTable {
	max-height: 300px;
	margin-top: 5px;

	@include scrollBar();
}
