@import '../../../style/mixins.scss';

.column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.resizeHandle {
	margin: 4px;
	border-radius: 5px;
	background-color: white;
	position: relative;
	display: flex;
}
