.control {
	display: flex;
	height: 20px;

	input {
		color: #fff;
		background: rgba(184, 175, 175, 0.208);
		text-align: right;
		width: 22px;
		border: 0;

		&::-webkit-inner-spin-button {
			display: none;
		}

		&:focus-visible {
			outline: 0;
			outline: 1px solid rgba(255, 255, 255, 0.416);
		}
	}
	.unit {
		color: #fff;
		width: 15px;
		font-size: 14px;
		text-align: left;
	}

	.increment {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		.increase,
		.decrease {
			&:hover {
				scale: 1.3;
			}
		}

		.reverse {
			rotate: 180deg;
		}
	}
}
