.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;

	.label {
		min-width: 70px;
		font-size: 14px;
	}

	.control {
		input {
			width: 22px;
		}

		span {
			width: 15px;
		}
	}
}
