@import '../../../../style/mixins.scss';
// @import '@style/mixins.sccs';

.frameList {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0;
	padding-right: 10px;
	max-height: 700px;
	overflow: auto;

	@include scrollBar();
}
