@import '../../../style/mixins.scss';

.uiControl {
	display: flex;
	height: 20px;

	input {
		@include input();

		width: 100%;
		height: 20px;
		text-align: right;
		padding: 0;

		&::-webkit-inner-spin-button {
			display: none;
		}

		&:focus-visible {
			outline: 0;
		}
	}

	.unit {
		color: #fff;
		width: max-content;
		padding-left: 1px;
		font-size: 14px;
		text-align: left;
	}

	.increment {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		.enlarge {
			&:hover {
				scale: 1.3;
			}
		}

		.reverse {
			rotate: 180deg;
		}
	}
}
