@import '@/styles/variables.scss';

.matrix {
	display: flex;
	flex-grow: 1;
	padding: $spacing-1;

	border: 3px solid $border-color;
	border-radius: $border-radius-m;
}

.column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
