@import '@/styles/variables.scss';

@mixin scrollBar {
	overflow: auto;
	overflow-x: auto;

	&::-webkit-scrollbar {
		border-radius: 10px;
		width: 5px;
		background: #aaa;
	}

	&::-webkit-scrollbar-track-piece {
		border-radius: 10px;
		background-color: rgb(160, 160, 160);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgb(90, 90, 90);
		border: 1px white;
	}
}

@mixin input {
	background: rgba(175, 175, 175, 0.3);
	color: white;
	border: 0;
	height: 20px;
	min-width: 0;
	width: 100%;

	&::placeholder {
		color: rgb(200, 200, 200);
	}

	&:focus-visible {
		outline: unset;
	}
}

@mixin tableWrapper {
	.header {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.text {
		font-size: 1.5rem;
	}

	.buttons {
		display: flex;
		gap: 0.5rem;
	}

	.table {
		max-height: 300px;

		@include scrollBar();
		padding-right: $spacing-s;
	}
}
