// Colors
$primary-color: #007bff;
$secundary-color: #007bff;

$item-color: rgba(13, 17, 23, 0.5);
$list-color: rgba(100, 100, 100, 0.5);
$border-color: rgb(84, 84, 84);
$border-hover-color: #b3b3b3;

// Misc
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 12px;

$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-xl: 20px;
$spacing-xxl: 32px;
$spacing-3xl: 64px;
