@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.panel {
	width: 100%;

	.slider {
		display: flex;
		gap: $spacing-5;
		align-items: center;
		margin-inline: 20px;
	}

	.gridWrapper {
		width: 100%;
		padding: $spacing-3;
		border-top: 3px solid $border-color;

		// @include scrollBar();

		.grid {
			display: grid;
			width: 100%;
			gap: 20px;
		}
	}
}
