@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.panel {
	height: 100%;
	width: 100%;
	border: 3px solid gray;

	.slider {
		display: flex;
		gap: $spacing-5;
		align-items: center;
		margin-inline: 20px;
	}

	// margin: $spacing-3;
	.gridWrapper {
		height: inherit;
		overflow: scroll;
		overflow-x: hidden;

		.grid {
			display: grid;
			width: 100%;
			// gap: 20px;
		}
	}
}
