@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.slider {
	display: flex;
	gap: $spacing-4;
	align-items: center;
	margin-inline: 20px;
}

.gridWrapper {
	height: 80vh;
	padding: $spacing-3;
	border-top: 3px solid $border-color;

	@include scrollBar();

	.grid {
		width: 100%;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		gap: 20px;
	}
}
