.slider {
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	width: 100%;
	border: 1px solid #ffffffa1;
	// box-shadow: ;
	border-radius: 10px;
	margin: 0;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		height: 18px;
		width: 8px;
		// border-radius: 50%;
	}
}
